# Server
PORT=
NODO_ENV=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=

# CAPTCHA
RECAPTCHA_SECRET=

# API para minerales
METALS_API_KEY=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=